<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <settings>  
        <!-- changes from the defaults -->  
        <setting name="lazyLoadingEnabled" value="false" />  
    </settings>  
    <typeAliases>  
        <typeAlias alias="User" type="com.sddtc.model.User"/>  
        <typeAlias alias="Faceword" type="com.sddtc.model.Faceword"/>
        <typeAlias alias="UserParam" type="com.sddtc.utils.param.UserParam"/>        
    </typeAliases>
    
    <mappers>  
       <mapper resource="com/sddtc/mapper/UserMapper.xml" />
       <mapper resource="com/sddtc/mapper/FacewordMapper.xml" />
    </mappers>  
</configuration>