<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="sddtc">
    <meta name="keyword" content="Couple">
    <title>Couple</title>
    <script type="text/javascript">var contextPath = '${requestContext.contextPath}';</script>
    <link rel="stylesheet" type="text/css" href="/static/css/couple.css">
    <link rel="stylesheet" type="text/css" href="/static/css/toolkit.css">
</head>
<body class="ang">
<div class="anq" id="app-growl"></div>
<nav class="ck pc os app-navbar">
    <div class="by">
        <div class="or">
            <a class="e" href="index.html">
                Couple
            </a>
        </div>
        <div class="f collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav ss">
                <li class="active">
                    <a href="index.html">主站</a>
                </li>
                <li>
                    <a href="profile/index.html">角色</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#msgModal">个人</a>
                </li>
            </ul>
            <ul class="nav navbar-nav og ale ss">
                <li>
                    <button class="cg fm ox anl" data-toggle="popover">
                        <img class="cu" src="/static/img/poi3.jpeg">
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="by amt">
    <div class="gc">
        <div class="gn">
            <div class="qv rc aog alu">
                <div class="qx" style="background-image: url(/static/img/root2.jpg);"></div>
                <div class="qw dj">
                    <a href="profile/index.html">
                        <img class="aoh" src="/static/img/poi3.jpeg">
                    </a>
                    <h5 class="qy">
                        <a class="aku" href="profile/index.html">Shaw</a>
                    </h5>
                    <p class="alu">Root.</p>
                    <ul class="aoi">
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                Friends
                                <h5 class="ali">12M</h5>
                            </a>
                        </li>
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                Enemies
                                <h5 class="ali">1</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="qv rc sm sp">
                <div class="qw">
                    <h5 class="ald">About</h5>
                    <ul class="eb tb">
                        <li>疑犯追踪女主大锤
                        <li>喜欢牛排等一切食物
                        <li>二轴人格
                        <li>专业医生
                        <li>有个绝世脑婆【雾
                    </ul>
                </div>
            </div>
            <div class="qv rc alu ss">
                <div class="qw">
                    <h5 class="ald">Likes <small>· <a href="#">View All</a></small></h5>
                    <ul class="qo anx">
                        <li class="qf alm">
                            <a class="qj" href="#"><img class="qh cu" src="/static/img/poi3.jpeg"></a>
                            <div class="qg">
                                <strong>Root</strong> @疑犯追踪
                            </div>
                        </li>
                        <li class="qf">
                            <a class="qj" href="#"><img class="qh cu" src="/static/img/poi3.jpeg"></a>
                            <div class="qg">
                                <strong>小熊</strong> @疑犯追踪
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="gz">
            <ul class="ca qo anx">
                <li class="qf b aml">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Message">
                        <div class="fj">
                            <button type="button" class="cg fm">
                                <span class="h xi"></span>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="qf b aml">
                    <a class="qj" href="#"><img class="qh cu" src="/static/img/poi3.jpeg"></a>
                    <div class="qg">
                        <div class="qn">
                            <small class="eg dp">4 min</small>
                            <h5>sddtc</h5>
                        </div>
                        <p>
                            510是最糟糕的601.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="gn">
            <div class="qv rc aog alu">
                <div class="qx" style="background-image: url(/static/img/root.jpeg);"></div>
                <div class="qw dj">
                    <a href="profile/index.html">
                        <img class="aoh" src="/static/img/poi3.jpeg">
                    </a>
                    <h5 class="qy">
                        <a class="aku" href="profile/index.html">Root</a>
                    </h5>
                    <p class="alu">Shaw.</p>
                    <ul class="aoi">
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                Friends
                                <h5 class="ali">12M</h5>
                            </a>
                        </li>
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                Enemies
                                <h5 class="ali">1</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="qv rc sm sp">
                <div class="qw">
                    <h5 class="ald">About</h5>
                    <ul class="eb tb">
                        <li>疑犯追踪女主我根总
                        <li>天才少女COS狂人
                        <li>讲甜话第一名
                        <li>专业露牙床第一名
                        <li>同样有个绝世脑婆【雾
                    </ul>
                </div>
            </div>
            <div class="qv rc alu ss">
                <div class="qw">
                    <h5 class="ald">Likes <small>· <a href="#">View All</a></small></h5>
                    <ul class="qo anx">
                        <li class="qf alm">
                            <a class="qj" href="#"><img class="qh cu" src="/static/img/poi3.jpeg"></a>
                            <div class="qg">
                                <strong>Shaw</strong> @疑犯追踪
                            </div>
                        </li>
                        <li class="qf">
                            <a class="qj" href="#"><img class="qh cu" src="/static/img/poi3.jpeg"></a>
                            <div class="qg">
                                <strong>小熊</strong> @疑犯追踪
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
