<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sddtc.mapper.UsermetaMapper">
	<insert id="add" parameterType="Usermeta">
		insert into
		t_cp_usermeta(user_id, user_icon_small, user_icon_big,
		short_description, description, tag) values(#{user_id},
		#{user_icon_small}, #{user_icon_big}, #{short_description},
		#{description}, #{tag})
	</insert>

	<select id="get" resultType="Usermeta">
		select * from t_cp_usermeta where
		user_id=#{user_id}
	</select>

	<update id="update" parameterType="Usermeta">
		update t_cp_usermeta
		<set>
			<if test="user_icon_small != null and user_icon_small !='' ">
				user_icon_small = #{user_icon_small}
			</if>
			<if test="user_icon_big !=null and user_icon_big!='' ">
				user_icon_big = #{user_icon_big}
			</if>
			<if test="short_description != null and short_description!='' ">
				short_description = #{short_description}
			</if>
			<if test="description!=null and description !='' ">
				description = #{description}
			</if>
			<if test="tag !=null and tag!= '' ">
				tag = #{tag}
			</if>
		</set>
		where user_id = #{user_id}
	</update>
</mapper>