<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sddtc.mapper.UserMapper">
    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
      insert into t_cp_user(login_id, password, nick_name, create_time)
      values (#{login_id}, #{password}, #{nick_name}, #{create_time})
    </insert>
    
    <select id="get" parameterType="UserParam" resultType="User">
      select * from t_cp_user 
      <where>
	      <if test="login_id != null">
	        login_id = #{login_id}
	      </if>
	      <if test="password != null">
	        and password = #{password}
	      </if>
	      <if test="nick_name != null">
	        and nick_name = #{nick_name}
	      </if>
	      <if test="id != null">
	        and id = #{id}
	      </if>
      </where>
    </select>
    
    <update id="update" parameterType="User">
      update t_cp_user set
        password = #{password}
      where id = #{id}
    </update>
</mapper>